<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @thing.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @thing.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @thing.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @thing.description %>
</p>

<p>
  <b>Address:</b>
  <%= @thing.address %>
</p>

<%= gmaps4rails( 'markers' => @pins)

 %>


<%= yield :scripts %>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Overview', root_path %>
